extends layouts/main

block content
    .user-quote
        h2=quote 
        h3=author
    hr
    .user-profile 
        .user-profile__column 
            img(src=`/${user.avatarUrl}`)
            .user-profile__link 
                a(href=user.githubUrl target="_blank") Github
                a(href=`//${user.blogUrl}` target="_blank") Blog
        .user-profile__column
            .user-profile__info
                h3(style="display: inline;") NAME:  
                h4(style="display: inline;")=user.name  
                br              
                h3(style="display: inline;") GITHUB NICKNAME: 
                h4(style="display: inline;")=user.githubName  
                br
                h3(style="display: inline;") EMAIL: 
                h4(style="display: inline;")=user.email 
                br      
                h3(style="display: inline;") SCHOOL:   
                h4(style="display: inline;")=user.school          
                h3 TECH:
                ul
                    each tech in user.tech 
                        li=tech
                h3 CAREER:
                ul
                    each career in user.career
                        li=career
                h3(style="display: inline;") SELF-INTRODUCTION:        
                h4(style="display: inline;")=user.introduction
    hr
    .user-status
        .user-status__contributions
            img(src="http://ghchart.rshah.org/lsj8706" alt="Name Your Github chart")
            a(href=Url0, style={color:'grey'})
               p=totalContributions
            img(src=`http://ghchart.rshah.org/${user.githubName}` alt="Name Your Github chart")
        .user-status__character
            h3 Your step | commit numbers 
            img(src="https://preview.free3d.com/img/2019/12/2269306250288170045/1oe8ymrc-900.jpg" alt="character" style="height:200px; width:250px;")
    .user-repositories
        .user-repo
            h3 REPO 1
            a(href=Url0, style={color:'grey'})
               p=fitstRepoName+": "+firstRepoUrl
            br
            h3 REPO 2
            a(href=Url0, style={color:'grey'})
               p=secondRepoName+": "+secondRepoUrl
